---
import '../styles/global.css';

interface Props {
	isStationPage?: boolean;
}

const { isStationPage = false } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{isStationPage && (
			<>
				<link rel="preload" href="https://cdn.jsdelivr.net/npm/flag-icons@6.14.0/css/flag-icons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
				<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons@6.14.0/css/flag-icons.min.css" /></noscript>
			</>
		)}
		<meta name="generator" content={Astro.generator} />
		<title>Search Stream</title>
		<!-- Google Tag Manager -->
		<script is:inline>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-P4J93KR2');
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4J93KR2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <main class="container">
      <slot />
    </main>
	</body>
</html>

