---
interface Props {
  frontmatter: {
    title: string;
    description: string;
  };
}

const { title, description } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
	<head>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-XPSMKQ6VT1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XPSMKQ6VT1');
    </script>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-black dark:text-white">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.exemple.com/article-de-blog"
      },
      "headline": "Les secrets d'un sommeil réparateur : Comment améliorer votre qualité de sommeil dès ce soir",
      "description": "{descrption}",
      "datePublished": "2024-06-07",
      "dateModified": "2024-06-07",
      "author": {
        "@type": "Person",
        "name": "David Landry",
        "url": "https://davland7.github.io/auteur/"
      },
      "publisher": {
        "@type": "Organization",
        "name": "code finance",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.exemple.com/logo.png"
        }
      },
      "image": {
        "@type": "ImageObject",
        "url": "https://www.exemple.com/image-de-l-article.jpg",
        "height": 800,
        "width": 1200
      },
      "articleBody": "Dans notre monde moderne, trouver un sommeil de qualité peut sembler impossible. Cet article explore des méthodes simples et efficaces pour améliorer votre sommeil. Voici quelques conseils pour un sommeil réparateur : 1. Créez un environnement propice au sommeil : Assurez-vous que votre chambre est sombre, calme et à une température confortable. Investir dans un bon matelas peut aussi faire une grande différence. 2. Adoptez une routine de coucher régulière : Une routine de coucher régulière peut signaler à votre corps qu'il est temps de se détendre. Essayez de vous coucher et de vous lever à la même heure chaque jour, même le week-end. Évitez les écrans avant de dormir et préférez des activités relaxantes comme la lecture ou la méditation. 3. Surveillez votre alimentation et votre consommation de caféine : Ce que vous mangez et buvez peut grandement affecter votre sommeil. Évitez les repas lourds et les boissons caféinées en fin de journée. Optez pour des collations légères et des tisanes apaisantes. En optimisant votre environnement, en adoptant une routine de coucher et en surveillant votre alimentation, vous pouvez améliorer considérablement votre sommeil. Un bon sommeil est essentiel pour votre bien-être général. Commencez dès ce soir à mettre en place ces conseils. Partagez vos astuces pour un bon sommeil dans les commentaires ci-dessous ou suivez notre blog pour plus de conseils sur la santé et le bien-être.",
      "keywords": ["sommeil", "qualité de sommeil", "routine de coucher", "alimentation", "conseils santé"],
      "url": "https://www.exemple.com/article-de-blog",
      "comment": [
        {
          "@type": "Comment",
          "author": {
            "@type": "Person",
            "name": "Nom du Commentateur"
          },
          "datePublished": "2024-06-08T08:00:00Z",
          "text": "Merci pour ces conseils ! J'ai commencé à les appliquer et j'ai déjà vu une amélioration."
        }
      ]
    }
    </script>

    <main class="w-full max-w-screen-md m-auto p-5">
      <section>
        <article class="prose-base prose-a:underline hover:prose-a:no-underline prose-table:table-auto prose-table:w-full prose-th:px-2 prose-th:py-4 prose-th:border prose-th:border-black prose-th:dark:border-white prose-th:text-left prose-td:p-2 prose-td:border prose-td:border-black prose-td:dark:border-white prose-ul:list-disc">
          <slot />
        </article>
      </section>
    </main>
	</body>
</html>
