---
import '../styles/global.css';

interface Props {
	isStationPage?: boolean;
}

const { isStationPage = false } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{isStationPage && <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons@6.14.0/css/flag-icons.min.css" />}
		<meta name="generator" content={Astro.generator} />
		<title>Search Stream</title>
	</head>
	<body>
    <main class="container">
      <slot />
    </main>
	</body>
</html>

