---
import '../styles/global.css';

const buildDate = new Date().toISOString().split("T")[0];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Search Stream</title>
	</head>
	<body class="container">
		<slot />
	</body>
</html>

